<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sam.stu.mapper.OrdersInfoMapper" >
  <resultMap id="BaseResultMap" type="org.sam.stu.entity.OrdersInfo" >
    <id column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="order_number" property="orderNumber" jdbcType="VARCHAR" />
    <result column="buyer_id" property="buyerId" jdbcType="VARCHAR" />
    <result column="trade_status" property="tradeStatus" jdbcType="TINYINT" />
    <result column="pay_status" property="payStatus" jdbcType="TINYINT" />
    <result column="best_time" property="bestTime" jdbcType="TIMESTAMP" />
    <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
    <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="card_owner" property="cardOwner" jdbcType="VARCHAR" />
    <result column="card_code" property="cardCode" jdbcType="VARCHAR" />
    <result column="card_name" property="cardName" jdbcType="VARCHAR" />
    <result column="card_number" property="cardNumber" jdbcType="VARCHAR" />
    <result column="outer_trade_no" property="outerTradeNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="delivery_type" property="deliveryType" jdbcType="TINYINT" />
  </resultMap>
  <insert id="insert" parameterType="org.sam.stu.entity.OrdersInfo" >
    insert into orders_info (order_id, order_number, buyer_id, 
      trade_status, pay_status, best_time, 
      order_amount, pay_amount, total_amount, 
      pay_time, card_owner, card_code, 
      card_name, card_number, outer_trade_no, 
      create_time, remark, delivery_type
      )
    values (#{orderId,jdbcType=BIGINT}, #{orderNumber,jdbcType=VARCHAR}, #{buyerId,jdbcType=VARCHAR}, 
      #{tradeStatus,jdbcType=TINYINT}, #{payStatus,jdbcType=TINYINT}, #{bestTime,jdbcType=TIMESTAMP}, 
      #{orderAmount,jdbcType=DECIMAL}, #{payAmount,jdbcType=DECIMAL}, #{totalAmount,jdbcType=DECIMAL}, 
      #{payTime,jdbcType=TIMESTAMP}, #{cardOwner,jdbcType=VARCHAR}, #{cardCode,jdbcType=VARCHAR}, 
      #{cardName,jdbcType=VARCHAR}, #{cardNumber,jdbcType=VARCHAR}, #{outerTradeNo,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{deliveryType,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.sam.stu.entity.OrdersInfo" >
    insert into orders_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="buyerId != null" >
        buyer_id,
      </if>
      <if test="tradeStatus != null" >
        trade_status,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="bestTime != null" >
        best_time,
      </if>
      <if test="orderAmount != null" >
        order_amount,
      </if>
      <if test="payAmount != null" >
        pay_amount,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="cardOwner != null" >
        card_owner,
      </if>
      <if test="cardCode != null" >
        card_code,
      </if>
      <if test="cardName != null" >
        card_name,
      </if>
      <if test="cardNumber != null" >
        card_number,
      </if>
      <if test="outerTradeNo != null" >
        outer_trade_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="deliveryType != null" >
        delivery_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="buyerId != null" >
        #{buyerId,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="bestTime != null" >
        #{bestTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderAmount != null" >
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardOwner != null" >
        #{cardOwner,jdbcType=VARCHAR},
      </if>
      <if test="cardCode != null" >
        #{cardCode,jdbcType=VARCHAR},
      </if>
      <if test="cardName != null" >
        #{cardName,jdbcType=VARCHAR},
      </if>
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
      <if test="outerTradeNo != null" >
        #{outerTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="deliveryType != null" >
        #{deliveryType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
</mapper>